<div class="jumbotron">
<h1><i class="fa fa-circle-o-notch"></i>The ToDoIst</h1>
	
	<p>Basic Task Management Application</p>
    <p>Created by Shaneese Shands </p>
	<p>Made with Ruby on Rails</p>
	<%= link_to 'Sign up', new_user_registration_path, class: ' btn btn-primary btn-lg' %> 
</div>


